nav {
    font-family: Arial, Helvetica, sans-serif; /* CHANGE */
}

nav img {
    max-height: 50px;
}

.backgroundImage {
    background-image: url("/media/homeBackgroundImage.png");
    background-size: cover;
    background-color: white;
}