* {
    font-family: 'Karla', sans-serif;
    box-sizing: border-box; /* Changes box model, ensures height and width remain fixed. Border thickness and padding included inside of box */
}

body {
    margin: 0; /* Resets user agent stylesheet */
}


/* NAVIGATION BAR - HOME PAGE */

nav {
    font-weight: 700;
    position: fixed; /* Nav fixed regardless of scrolling */
    top: 0;
    left: 0;
    right: 0;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 6fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem; /* Change to be responsive */
}

nav a:hover {
    color: #000AFF;
}

#logo-placeholder {
    max-height: 6rem;
    padding-left: 1.5rem;
    padding-top: 0.3rem;
}

/* ICONS */

.icon {
    max-height: 60%;
    max-width: 60%;
    margin-top: 20%;
}

#linkedin {
    max-height: 3.5rem;
    margin-top: 6%;
}

/* Navigation bar end */



/* Sets background image for home page */
.backgroundImage {
    background-image: url("/media/homeBackgroundImage.png");
    background-size: cover;
    background-color: white;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}



/* Flexbox set up home page */

.flex-container-main { /* 2 items: heading text and portrait image */
    display: flex;
    justify-content: center;
    width: max-content;
    height: 100%;
}

.flex-item-main { /* flex container holding heading text on vertical axis */
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100%;
}

.flex-container-lang { /* 2 items: HTML and JAVASCRIPT text */
    display: flex;
}

/* Flexbox end */



/* Styling for text on home page */

h1 {
    font-size: 7.5em; /* Change to be responsive */
    line-height: 1em;
    margin-bottom: 0;
    margin-top: 9rem;
}

.brightStyle { /*Anything with this class will have style applied */
    color: #000AFF;
    text-shadow: 0.2rem 0em #FF00F5;
}

.pink {
    color:#FF00F5;
}

.blue {
    color:#000AFF;
}

.lalezar-font {
    font-family: 'Lalezar', cursive;
}

#JSLang {
    margin-left: 3rem;
}

.hind-font {
    font-family: 'Hind', sans-serif;
}

.center {
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 0;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid #000AFF;
    margin-top: 2rem;
}

#portrait {
    border: .4rem solid black;
    border-radius: 50%;
    max-height: 230px;
    width: auto;
    float: right;
    margin-top: 8rem;
    margin-left: 3rem;
}   



/* Nav bar - other pages */

.pink-nav {
    background-color: #FFD1E0;
}


/* ABOUT page flexbox set up */

#about-flex-cont {
    display: flex;
    justify-content: space-between;
}

.about-flex-item {
    border-radius: 7px;
}

div .item1 {
    padding: 30px;
    background-color: #FFD1E0;
    width: 42%;
    font-size: 1.2rem;
    text-align: justify;
}

div #item2 {
    padding: 30px;
    background-color: #FFD1E0;
    width: 42%;
    height: min-content;
    font-size: 1.2rem;
}


/* PRACTICE PAGE */

#practice-gymprs-table, th, td { /* Whole table */
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#practice-gymprs-table, th { /* Table headings */
    font-size: 1.3rem;
    padding: 0.7rem;
}

#practice-gymprs-table, td { /* Table data */
    font-size: 1rem;
    padding: 0.4rem;
}

.container {
    display: flex;
    text-align: center;
    font-size: 1rem;
    border: 2px solid black;
    min-height: 150px;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content:center;
}

.side {
    background-color: white;
}

.middle {
    background-color: lightgrey;
}

.flex-item-practice {
    min-height: 100px;
    max-height: 130px;
    max-width: 130px;
    border: 2px solid black;
    margin: 5px;
}
