/* NAVIGATION BAR - HOME PAGE */

nav {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 20px; /* Change to be responsive */
}

#logo-placeholder {
    max-height: 60px;
}

/* ICONS */

#git-icon {
    height: 90%;
}

/* Navigation bar end */



/* Sets background image for home page */
.backgroundImage {
    background-image: url("/media/homeBackgroundImage.png");
    background-size: cover;
    background-color: white;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}



/* Flexbox set up home page */

.flex-container-main { /* 2 items: heading text and portrait image */
    display: flex;
    justify-content: center;
    width: max-content;
    height: 100%;
}

.flex-item-main { /* flex container holding heading text on vertical axis */
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100%;
}

.flex-container-lang { /* 2 items: HTML and JAVASCRIPT text */
    display: flex;
}

/* Flexbox end */



/* Styling for text on home page */

h1 {
    font-family: 'Lalezar', cursive;
    font-size: 7.5em; /* Change to be responsive */
    line-height: 1em;
    margin-bottom: 0;
}

.brightStyle { /*Anything with this class will have style applied */
    color: #000AFF;
    text-shadow: 0.2rem 0em #FF00F5;
}


#htmlLang {
    color:#000AFF;
}

#JSLang {
    color:#FF00F5;
    margin-left: 3rem;
}

h2 {
    font-family: 'Hind', sans-serif;
    font-size: 2em;
}

h3 {
    font-family: 'Karla', sans-serif;
}

button {
    font-family: 'Hind', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid #000AFF;
    margin-top: 2rem;
}

#portrait {
    border-radius: 50%;
    max-height: 250px;
    width: auto;
    float: right;
    margin-top: 6rem;
    margin-left: 3rem;
}   



/* Nav bar - other pages */

.pink-nav {
    background-color: #FFD1E0;
}

#about-title {
    text-align: center;
}



.about-flex-item {
    border-radius: 7px;
}

div #item1 {
    padding: 20px;
    background-color: #FFD1E0;
}

div #item2 {
    padding: 20px;
    background-color: #FFD1E0;
}
