@media screen and (max-width: 1460px) {
    tablet-nav-text {
        font-size: 1.2rem;
    }

    .nav-container.tablet-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.6fr 0.6fr 0.6fr;
    }

    img.icon--git {
        max-height: 79.3px;
        margin-top: 22%;
    }

    img#icon--linkedin {
        max-height: 39px;
    }
}